{% extends 'LeaveApp/base.html' %}
{% load static %}

{% block content %}
  <h1>Approve/Reject Leave Request</h1>
  <p>Employee: {{ leave_request.emp_id.user_id.username }}</p>
  <p>Leave Type: {{ leave_request.leave_type_id.type_name }}</p>
  <p>Start Date: {{ leave_request.start_date }}</p>
  <p>End Date: {{ leave_request.end_date }}</p>
  <p>No of Days: {{ leave_request.no_of_days }}</p>
  <p>Resumption Date: {{leave_request.resumption_date}}</p>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
  </form>
{% endblock %}