{% extends 'LeaveApp/base.html' %}
<!-- {% load static %} -->


{% block content %}
	<!-- BEGIN content-container -->
	<div class="app-content-padding flex-grow-1 overflow-hidden ps" data-scrollbar="true" data-height="100%" style="height: 100%;">
		<!-- BEGIN breadcrumb -->
		<ol class="breadcrumb float-xl-end">
			<li class="breadcrumb-item"><a href="">Home</a></li>
			<!-- <li class="breadcrumb-item"><a href="javascript:;">Page Options</a></li>
			<li class="breadcrumb-item active">Page with Footer</li> -->
		</ol>
		<div class="d-sm-flex align-items-center mb-3">
			<a href="#" class="btn btn-dark me-2 text-truncate" id="daterange-filter">
				<span>21 February 2024 - 28 February 2024</span>
			</a>
		</div>
		<!-- BEGIN panel -->
		<div class="panel panel-inverse">
			<div class="panel-heading">
				<h4 class="panel-title">WELCOME</h4>
				<div class="panel-heading-btn">
					
				</div>
			</div>
			
		</div>
		<div class="row">
			<!-- BEGIN col-6 -->
			<div class="col-xl-12">
				<!-- BEGIN card -->
				<div class="card border-0 mb-3 overflow-hidden bg-gray-600 text-white">
					<!-- BEGIN card-body -->
					<div class="card-body">
						<!-- BEGIN row -->
						<div class="row">
							<!-- BEGIN col-7 -->
							<div class="col-xl-12 col-lg-12">
								<!-- BEGIN title -->
								<div class="mb-3 text-gray-300">
									<h2><p><b>Employee Details</b></p></h2>
									<h4><p><b>Email: {{ user.email }}</b></p></h4>
									<h4><p><b>Department: {{ employee_instance.department }}</b></p></h4>
									<h4><p><b>Unit: {{ employee_instance.unit }}</b></p></h4>
								</div>
								<!-- END title -->
								<!-- BEGIN total-sales -->
								<div class="d-flex mb-1">
									{% comment %} <h2 class="mb-0">$<span data-animation="number" data-value="64559.25">64,559.25</span></h2> {% endcomment %}
								</div>
								<!-- END total-sales -->
								<!-- BEGIN percentage -->
								<div class="mb-3 text-gray-500">
									
								</div>
								<!-- END percentage -->
								
								<!-- BEGIN row -->
								
								<!-- END row -->
							</div>
							<!-- END col-7 -->
							<!-- BEGIN col-5 -->
							
							<!-- END col-5 -->
						</div>
						<!-- END row -->
					</div>
					<!-- END card-body -->
				</div>
				<!-- END card -->
			</div>
			<!-- END col-6 -->
			<!-- BEGIN col-6 -->
			<!-- END col-6 -->
		</div>
		<!-- END panel -->
		<div class="panel-body">
			<!-- BEGIN table-responsive -->
			<div id="data-table-responsive" class="table table-striped table-bordered align-middle">
				<table class="table">
					<thead>
						<tr>
							<th width="1%">S/N</th>
							<th nowrap="">Date Applied</th>
							<th nowrap="">Start Date</th>
							<th nowrap="">End Date</th>
							<th nowrap="">Days</th>
							<th nowrap="">Resumption Date</th>
							<th nowrap="">Comments</th>
							<th nowrap="">Status</th>
							<th nowrap="">Note</th>
					</thead>
					<tbody>
						{% for leave in leaves %}
						<tr>
							<td width="1%" class="fw-bold">{{ forloop.counter }}.</td>
							<td width="20%">{{ leave.date_applied }}</td>
							<td width="20%">{{ leave.start_date }}</td>
							<td width="20%">{{ leave.end_date }}</td>
							<td>{{ leave.no_of_days }}</td>
							<td>{{ leave.resumption_date }}</td>
							<td width="30%">{{ leave.comments }}</td>
							<td>{{ leave.status }}</td>
							<td>{{ leave.sub_comments }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<!-- END table-responsive -->
		</div>
	<div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
	<!-- END content-container -->

{% endblock content %}
