{% extends 'LeaveApp/base.html' %}

<title>Employee {% block title %}
    {% endblock %}
</title>

{% block content %}
<div class="row">
    <h1>Leave List</h1>

    <h2>Employee Details</h2>
    <p>Email: {{ employee_instance.email }}</p>
    <p>Department: {{ employee_instance.department }}</p>
    <p>Unit: {{ employee_instance.unit }}</p>
</div> 
 
<h1>Leave Detail</h1>
<p><strong>Leave Type:</strong> {{ leave.leave_type_id.type_name }}</p>
<p><strong>Date Applied:</strong> {{ leave.date_applied }}</p>
<p><strong>Start Date:</strong> {{ leave.start_date }}</p>
<p><strong>End Date:</strong> {{ leave.end_date }}</p>
<p><strong>Status:</strong> {% if leave.status %}Approved{% else %}Pending{% endif %}</p>
<!-- You can add more details as needed -->
<div class="row">
    <h2>Substitutes</h2>
    <ul>
        {% for substitute in substitutes %}
        <li>{{ substitute.sub_name }}</li>
        {% endfor %}
    </ul>

    <h2>Projects</h2>
    <ul>
        {% for project in projects %}
        <li>{{ project.project_name }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
