{% extends 'LeaveApp/base.html' %}
{% load static %}
<title>Create Leave {% block title %}
    {% endblock %}
</title>

{% block content %}
   <!-- employee_update.html -->
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
</form>

<script>
    $(document).ready(function() {
        $('#id_department').change(function() {
            var departmentId = $(this).val();
            $.ajax({
                url: '/get_units/', // Replace with your actual URL
                data: {
                    'department_id': departmentId
                },
                dataType: 'json',
                success: function(data) {
                    var $unitSelect = $('#id_unit');
                    $unitSelect.empty();
                    $.each(data.units, function(key, value) {
                        $unitSelect.append('<option value="' + value.id + '">' + value.name + '</option>');
                    });
                }
            });

            // AJAX call to fetch employees based on selected department
            $.ajax({
                url: '/get_employees/', // Replace with your actual URL
                data: {
                    'department_id': departmentId
                },
                dataType: 'json',
                success: function(data) {
                    var $employeeSelect = $('#id_supervisor');
                    $employeeSelect.empty();
                    $.each(data.employees, function(key, value) {
                        $employeeSelect.append('<option value="' + value.id + '">' + value.name + '</option>');
                    });
                }
            });
        });
    });
</script>
      
{% endblock %}