{% extends 'LeaveApp/base.html' %}
{% load static %}
<title>Create Leave {% block title %}
    {% endblock %}
</title>

{% block content %}
    <!-- BEGIN content-container -->
	<div class="app-content-padding flex-grow-1 overflow-hidden ps" data-scrollbar="true" data-height="100%" style="height: 100%;">
		<!-- BEGIN breadcrumb -->
		<ol class="breadcrumb float-xl-end">
			<li class="breadcrumb-item"><a href="">Home</a></li>
			<!-- <li class="breadcrumb-item"><a href="javascript:;">Page Options</a></li>
			<li class="breadcrumb-item active">Page with Footer</li> -->
		</ol>
		<!-- END breadcrumb -->
		<!-- BEGIN page-header -->
		<h1 class="page-header">Update Details <small>page still under construction and HR can only see this</small></h1>
		<!-- END page-header -->

		<!-- BEGIN panel -->
		<div class="panel panel-inverse">
			<div class="panel-heading">
				<h4 class="panel-title">Profile</h4>
				<div class="panel-heading-btn">
					<a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
					<a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
					<a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
					<a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
				</div>
			</div>
			<div class="panel-body">
                <form id="myForm" method="post" action="{% url 'update-emp' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-4">
                            <label class="form-label col-form-label col-md-4"><h5>DEPARTMENTS</h5></label>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label col-form-label col-md-4"><h5>UNIT</h5></label>
                        </div>
                       
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                        <!-- First dropdown for selecting department -->
                            <select class="form-select" id="departmentDropdown" name="department" autocomplete="off" data-parsley-required="true" onchange="loadUnits()">
                                <option value="" disabled selected>Select Department</option>
                                <option value="Health Informatics">Health Informatics</option>
                                <option value="Survey">Survey</option>
                                <option value="M & E">M & E</option>
                                <option value="Surveillance">Surveillance</option>
                                <option value="Data Science">Data Science</option>
                                <option value="Quality Improvement">Quality Improvement</option>
                            </select>
                        </div>
                        <div class="col-lg-4">
                        <!-- Second dropdown for listing units -->
                            <select class="form-select" id="unitDropdown" name="unit" autocomplete="off" data-parsley-required="true">
                                <option value="" disabled selected>Select Unit</option>
                            </select>
                        </div>
                    </div>
                    {% comment %} <div class="row">
                        <div class="col-md-4">
                            <label class="form-label col-form-label col-md-4"><h5>LEVEL</h5></label>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label col-form-label col-md-8"><h5>NO OF LEAVE ALLOCATED</h5></label>
                        </div>
                    </div> {% endcomment %}
                    {% comment %} <div class="row">
                        <div class="col-lg-4" style="display: inline-block;"> 
                            <select class="form-select" id="staffLevelDropdown" name="rank" onchange="loadEntitlement()" autocomplete="off" data-parsley-required="true">
                                <option value="" disabled selected>Staff Level</option>
                                <option value="Director">Director</option>
                                <option value="Deputy Director">Deputy Director</option>
                                <option value="H.O.D">H.O.D</option>
                                <option value="Staff">Staff</option>
                                <option value="Adhoc">Adhoc</option>
                            </select>
                        </div> 
                    
                        <div class="col-lg-4" style="display: inline-block;"> 
                            <input class="form-control parsley-validated" type="text" id="entitlementTextField" name="days_allocated" placeholder="Total" data-required="true" readonly/>
                        </div>
                    </div>
                     {% endcomment %}
                    <div class="col-lg-12" style="margin-top: 20px;">
                        <div class="col-md-12 text-end"> 
                            <a href="javascript:;" data-click="swal-info" class="btn btn-primary me-1">Submit</a>
                        </div>
                    </div>
                </form>
			</div>
		</div>
    </div>
		<!-- END panel -->
    <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
	<div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
	<!-- END content-container -->

    <!-- Bootstrap Modal -->
    <script>

        function loadUnits() {
			// Get the selected department value
			var selectedDepartment = document.getElementById("departmentDropdown").value;
			
			// Get the unit dropdown element
			var unitDropdown = document.getElementById("unitDropdown");
			
			// Clear existing options in the unit dropdown
			unitDropdown.innerHTML = "<option value=''>Loading...</option>";
			
			// Simulate an asynchronous call to fetch units based on selected department
			setTimeout(function() {
				// Populate unit dropdown based on selected department
				switch(selectedDepartment) {
					case "Health Informatics":
						populateUnits(["Unit 1A", "Unit 1B", "Unit 1C"]);
						break;
					case "Survey":
						populateUnits(["Unit 2A", "Unit 2B", "Unit 2C"]);
						break;
					case "M & E":
						populateUnits(["Unit 3A", "Unit 3B", "Unit 3C"]);
						break;
					case "Surveillance":
						populateUnits(["Unit 4A", "Unit 4B", "Unit 4C"]);
						break;
					case "Data Science":
						populateUnits(["Unit 5A", "Unit 5B", "Unit 5C"]);
						break;
					case "Quality Improvement":
						populateUnits(["Unit 6A", "Unit 6B", "Unit 6C"]);
						break;
					default:
						unitDropdown.innerHTML = "<option value=''>Select Unit</option>";
				}
			}, 1000); 
		}
		
		function populateUnits(units) {
			var unitDropdown = document.getElementById("unitDropdown");
			unitDropdown.innerHTML = "<option value=''>Select Unit</option>"; 
			units.forEach(function(unit) {
				var option = document.createElement("option");
				option.text = unit;
				option.value = unit.toLowerCase().replace(/\s+/g, ''); 
				unitDropdown.add(option);
			});
		}

		function loadEntitlement() {
			var selectedLevel = document.getElementById("staffLevelDropdown").value;
			var entitlementTextField = document.getElementById("entitlementTextField");
		
			switch(selectedLevel) {
				case "Director":
					entitlementTextField.value = "35";
					break;
				case "Deputy Director":
					entitlementTextField.value = "30";
					break;
				case "H.O.D":
					entitlementTextField.value = "25";
					break;
				case "Staff":
					entitlementTextField.value = "20";
					break;
				case "Adhoc":
					entitlementTextField.value = "None";
					break;
				default:
					entitlementTextField.value = ""; 
					break;
			}
		}

    </script>
      
{% endblock %}