{% load static %}

<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Login {% block title %}
        {% endblock %}
    </title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN core-css ================== -->
    <link href={% static 'assets/css/vendor.min.css' %} rel="stylesheet" />
	<link href={% static 'assets/css/default/app.min.css' %} rel="stylesheet" />
	<!-- ================== END core-css ================== -->
</head>
<body class='pace-top'>
	<!-- BEGIN #loader -->
	<div id="loader" class="app-loader">
		<span class="spinner"></span>
	</div>
	<!-- END #loader -->


	<!-- BEGIN #app -->
	<div id="app" class="app">
		<!-- BEGIN login -->
		<div class="login login-v1">
			<!-- BEGIN login-container -->
			<div class="login-container">
				<!-- BEGIN login-header -->
				<div class="login-header">
					<div class="brand">
						<div class="d-flex align-items-center">
							<span class="logo"></span> <b class="me-1">WELCOME</b> BACK
						</div>
						<small></small>
					</div>
					<div class="icon">
						<i class="fa fa-lock"></i>
					</div>
				</div>
				<!-- END login-header -->
				
				<!-- BEGIN login-body -->
				<div class="login-body">
					<!-- BEGIN login-content -->
					<div class="login-content fs-13px">
						<form action="{% url 'login' %}" method="POST" autocomplete="off">
							{% csrf_token %}
							<div class="form-floating mb-20px">
								<input type="text" name="username" class="form-control fs-13px h-45px" id="username" placeholder="Username" required/>
								<label for="username" class="d-flex align-items-center">Username</label>
							</div>
							<div class="form-floating mb-20px">
								<input type="password" name="password" class="form-control fs-13px h-45px" id="password" placeholder="Password" autocomplete="off" required/>
								<label for="Password" class="d-flex align-items-center">Password</label>
							</div>
							<div class="login-buttons">
								<button type="submit" class="btn btn-theme h-45px d-block w-100 btn-lg">Sign me in</button>
							</div>
							<div class="text-gray-500" style="margin-top: 20px;">
								Not a member yet? Click <a href="{% url 'register' %}" class="text-white">here</a> to register.
							</div>
						</form>
                        {% comment %} {% for message in messages %}
                            <p>{{message}}</p>
                        {% endfor %}  {% endcomment %}
						{% for message in messages %}
							{% if message.tags %}
								{% if 'success' in message.tags %}
									<div class="alert alert-success">
								{% elif 'error' in message.tags %}
									<div class="alert alert-danger">
								{% elif 'info' in message.tags %}
									<div class="alert alert-info">
								{% else %}
									<div class="alert alert-secondary">
								{% endif %}
									<strong>{{ message.tags|title }}</strong>: {{ message.message }}
									{% if request.user.is_authenticated %}
										<span class="user-name">{{ request.user.username }}</span>
									{% endif %}
								</div>
							{% endif %}
						{% endfor %}
					</div>
					<!-- END login-content -->
				</div>
				<!-- END login-body -->
			</div>
			<!-- END login-container -->
		</div>
		<!-- END login -->
		
		<!-- BEGIN theme-panel -->
	    <!-- BEGIN scroll-top-btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-theme btn-scroll-to-top" data-toggle="scroll-to-top"><i class="fa fa-angle-up"></i></a>
		<!-- END scroll-top-btn -->
	</div>
	<!-- END #app -->
	
	<!-- ================== BEGIN core-js ================== -->
	<script src={% static 'assets/js/vendor.min.js' %}></script>
	<script src={% static 'assets/js/app.min.js' %}></script>
	<!-- ================== END core-js ================== -->
</body>
</html>


























































{% comment %} <h2>Login</h2>

       <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <label>Username: </label>
        <input type="text" name="username" placeholder="Enter Username"/>
           
        <label>Password: </label>
        <input type="password" name="password" placeholder="Enter Password"/>
            
        <input type="submit" value="Login"/>
       
    </form>
    {% for message in messages %}
        <p>{{message}}</p>
    {% endfor %} {% endcomment %}